* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.category-heading {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
  padding: 25px 0px 25px 0px;
  cursor: default;
}
.category-heading span {
  font-size: 32px;
  color: #414141;
  font-weight: bolder;
}

.category-selector {
  display: flex;
  justify-content: flex-end;
  margin-right: 276px;
}

.category-selector-search > input {
  height: 37px;
  width: 24vw;
  padding: 0%;
  margin-right: 10px;
}

.category-main-table {
  margin-top: 5px;
  margin-left: 276px;
  margin-right: 276px;
  /* border: 2px solid yellowgreen; */
}

.category-pagination {
  display: flex;
  flex-direction: row;
  height: 48px;
  /* border: 2px solid red; */
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 276px;
  margin-left: 276px;
}

.category-pagination > p {
  padding: 8px;
}

.category-pagination-row-selector {
  padding: 10px;
  /* border: 2px solid rgb(42, 136, 165); */
  margin-right: 60px;
}

.category-pagination-row-display {
  /* border: 2px solid green; */
  /* margin-right: 10px; */
  padding: 8px;
}

.category-pagination-row-display > button {
  text-decoration: none;
  display: inline-block;
  border: none;
  margin-left: 10px;
}
.less-then {
  background-color: #e2dddd;
  color: black;
  border-radius: 60%;
}

.greater-then {
  border-radius: 60%;
  background-color: #e2dddd;
  color: black;
}

.category-pagination-row-display > less-then :hover {
  background-color: #121212;
  color: rgb(250, 242, 242);
}
